.plan-box{
    width: 31.53%;
   
}
.plan-box-1{
    background-color: white;
   
}
#planned-box{
    border-top: 5px solid #F49F85; 
}
#progress-box{
    border-top: 5px solid #AD1FEA;
}
#live-box{
    border-top: 5px solid #62BCFA;
}

.page-1{
    margin: 78px 11.46%; 
}
.page-content-down{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.top-road{
    display: flex;
    flex-direction: row;
}
.top-part-road{
    margin-right: 30px;
}

.inner-plan-box{
    margin: 25px 9.14%;
}

.road-rnd{
    margin: 0;
    margin-block-start: 0px;
    margin-block-end: 0;
    display: inline-block;
}
.line-p{
    margin: 0;
    margin-block-start: 0px;
    margin-block-end: 0;
    display: inline-block;

}

.last-row{
    display: flex;
    flex-direction: row;
}

#blk-2{
   width: fit-content;
}

 /*Tablet view*/
 @media screen and (max-width: 950px) and (min-width: 540px) {
   .page-1{
    margin: 56px 5.21% 116px 5.08%;;
   }
   .page-content-down{
    gap: 10px;
   }
   .plan-box{
    width: 32.36%;
   }
   
      
      
   }


   /*Mobile view*/
@media screen and (max-width: 550px) and (min-width: 250px) {
    .page-1{
        margin: 0;
    }
    .d-none{
        display: none;
    }
    .d-block{
        display: block;
    }

    .plan-box{
        width: 100%;
    }
    .nav-mobile{
        display: flex;
        flex-direction: row;
    }
    .header{
        margin-bottom: 0;
    }
 
}